html, body {
  margin: 0;
  padding: 0;
}

.header-nav {
  display: flex;
  align-items: center;
  background: green;
  padding: 30px 25px;
}

.nav-logo-text, .nav-title {
  margin: 0;
}

.nav-logo-text {
  margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}

.nav-title {
  color: #DEEBF8;
  font-weight: 600;
}

.react-logo {
  margin-right: 7px;
}

footer {
  background: lightgrey;
  padding: 10px;
}